@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  display: none !important;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide div,
.slick-slide img {
  z-index: 0 !important;
  position: relative !important;
}

.primary-color {
  color: #3b82f6;
}

.bg-color {
  background-color: #f9fafb;
}

.text-p-color {
  color: #111827;
}

.text-s-color {
  color: #6b7280;
}

body {
  font-family: "Inter", sans-serif;
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
